<<<<<<< HEAD
<%= form_with(model: user) do |form| %>
=======
<%= form_with(model: user, local: true) do |form| %>
>>>>>>> sign in up mail
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group mb-3 justify-content-center">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
<<<<<<< HEAD
    <%= form.text_field :name, placeholder: t("name")%>
=======
    <%= text_field_tag :name, nil, placeholder: t("name")%>
>>>>>>> sign in up mail
  </div>

  <div class="field input-group mb-3 justify-content-center">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
    </div>
<<<<<<< HEAD
    <%= form.text_field :email, placeholder: t("email")%>
=======
    <%= text_field_tag :email, nil, placeholder: t("email")%>
>>>>>>> sign in up mail
  </div>

  <div class="field input-group mb-3 justify-content-center">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
      </div>
<<<<<<< HEAD
    <%= form.password_field :password, placeholder: t("password")%>
=======
    <%= password_field_tag :password, nil, placeholder: t("password")%>
>>>>>>> sign in up mail
  </div>

  <div class="field input-group mb-3 justify-content-center">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
      </div>
<<<<<<< HEAD
    <%= form.password_field :password_confirmation, placeholder: t("re_password")%>
  </div>

  <div class="d-flex actions justify-content-center">
    <%= form.submit class: "btn btn-secondary rounded-lg" %>
=======
    <%= password_field_tag :password_confirmation, nil, placeholder: t("re_password")%>
  </div>

  <div class="d-flex actions justify-content-center">
    <%= submit_tag nil, class: "btn btn-secondary rounded-lg" %>
>>>>>>> sign in up mail
  </div>
<% end %>
