<% if current_user %>
<<<<<<< HEAD
  <% t "logged_in_as" %> <%= current_user.email %>.
=======
  Logged in as <%= current_user.email %>.
>>>>>>> sign in up mail
  <%= link_to t("log_out"), logout_path %>
<% else %>
  <%= link_to t("sign_up"), signup_path %> or 
  <%= link_to t("log_in"), login_path %>
<% end %>
<<<<<<< HEAD
=======
<h1>Example</h1>
<p>Lorem ipsum …</p>
>>>>>>> sign in up mail
